<% 
url = "/"
if (page.amazonproductlink !== undefined ) { 
  url = page.amazonproductlink
} %>

<div id="image-slider">
  <div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item">
  
        <div class="fix">
          <a href="<%= url %>"><img src="/images/products/<%= page.imgfolder %>/img1.jpg" alt="..." class="img-responsive center-block"></a>
        </div>
  
    </div>
  
    <div class="item">
  
      <div class="fix">
        <a href="<%= url %>"><img src="/images/products/<%= page.imgfolder %>/img2.jpg" alt="..." class="img-responsive center-block"></a>
      </div>
    </div>
  
    <div class="item">
      <div class="fix">
        <a href="<%= url %>"><img src="/images/products/<%= page.imgfolder %>/img3.jpg" alt="..." class="img-responsive center-block"></a>
      </div>
  
    </div>
  
    <div class="item">
  
      <div class="fix">
        <a href="<%= url %>"><img src="/images/products/<%= page.imgfolder %>/img4.jpg" alt="..." class="img-responsive center-block"></a>
  
      </div>
  
    </div>
  </div>
</div>



<div class="customNavigation">
  <span id="slider-right-click" class="btn prev glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span id="slider-left-click"  class="btn next glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</div>

<div class="row text-center" > <h4>Acer Chromebook C720</h4></div>
