<div id="image-slider">
  <div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item">
  
        <div class="fix">
          <img src="/images/products/<%= page.imgfolder %>/img1.jpg" alt="..." class="img-responsive center-block">
        </div>
  
    </div>
  
    <div class="item">
  
      <div class="fix">
        <img src="/images/products/<%= page.imgfolder %>/img2.jpg" alt="..." class="img-responsive center-block">
  
      </div>
    </div>
  
    <div class="item">
  
      <div class="fix">
        <img src="/images/products/<%= page.imgfolder %>/img3.jpg" alt="..." class="img-responsive center-block">
  
      </div>
  
    </div>
  
    <div class="item">
  
      <div class="fix">
        <img src="/images/products/<%= page.imgfolder %>/img4.jpg" alt="..." class="img-responsive center-block">
  
      </div>
  
    </div>
  </div>
</div>



<div class="customNavigation">
  <span id="slider-right-click" class="btn prev glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span id="slider-left-click"  class="btn next glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</div>

<div class="row text-center" > <h4>#10 - NorthStar Resort - Truckee, CA</h4></div>
