<%- partial('_partial/head') %>

<body>
  
  <%- partial('_partial/navbar', {class_name: 'navbar'}) %>

    <div class="container">

	  <div id="main-content" class="clearfix">

      <div id="container">
        <div id="wrap">
          <div class="outer">
            <section id="main"><%- body %></section>
            <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
              <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
          </div>
        </div>
        <%- partial('_partial/after-footer') %>
      </div>

      <!-- Contact form -->
      <div id="contact-form">
        <h1>Get In Touch!</h1>

        <form method="post" action="/contact/">
          <label for="name">Name: <span class="required">*</span></label>
          <input type="text" id="name" name="name" value="" placeholder="John Doe" required="required" autofocus="autofocus" /> 
        
          <label for="email">Email Address: <span class="required">*</span></label>
          <input type="email" id="email" name="email" value="" placeholder="johndoe@example.com" required="required" />
        
          <label for="message">Message: <span class="required">*</span></label>
          <textarea id="message" name="message" placeholder="Your message must be greater than 20 charcters" required="required" data-minlength="20"></textarea>
           
          <input type="submit" value="Send!" id="submit-button" />
        </form>
      </div>



      <div>

      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

    </div> <!-- /container -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1507522969507612&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>

</html>
