<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  
  <div class="article-meta">
  </div>
  <div class="article-inner">
    <%- partial( 'post/gallery') %>
    <% if (post.link || post.title){ %>
      <div id="text-header-container" class="product-content">
        <header class="article-header">
          <%- partial( 'post/title', {class_name: 'article-title'}) %>
        </header>
      </div>
    <% } %>
      
    <div class="article-entry" itemprop="articleBody">

      <%- partial( 'controlflow', {class_name: 'controlflow'}) %>
  
      <%- partial( 'productbuybutton', {class_name: 'product-buy-button'}) %>
  
      <div id="product-description-holder" class="product-content">
        <div class="column-spacer-small">
          
        </div>
        <div class="column-main">
          <%- post.content %>
        </div>
      </div>
    </div>
  </div>
</article>