<style>
<%- partial('css/bootstrap', {}) %>
<%- partial('css/custom', {}) %>

<% if (page.imgfolder != undefined) { %>
<%- partial('css/owl_c', {}) %>
<%- partial('css/owl_t', {}) %>
<%- partial('css/owl_tra', {}) %>
<% }; %>
</style>
