<script type="text/javascript">
<%- partial( 'js/libs/jquerygit2', {}) %>
<%- partial('js/libs/jquerydebounce', {}) %>
<%- partial('js/libs/jqueryfinger', {}) %>
<%- partial('js/libs/jquerymin', {}) %>
<%- partial('js/libs/jquerytouch', {}) %>
<%- partial('js/libs/bootstrap', {}) %>
<%- partial('js/libs/owl', {}) %>
<%- partial('js/libs/owl', {}) %>
<%- partial('js/custom', {}) %>
</script>