<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="navbar-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" id="logo">
        <a href="/" class="navbar-sactech mobilelogo">
          <b><h3 id="logoMain">Stack<span class=secondLogo>Savings</span></h3></b>
        </a>

        <a href="/">
          <span id="search-icon" class="icon-wrapper">
            <span id="search icon" class="se glyphicon glyphicon-search" aria-hidden="true"></span>
          </span>
        </a>

        <a id="cartlink" href="https://sac-tech-cart.foxycart.com/cart">
          <span id="cart-icon" class="icon-wrapper">
            <img src="/images/cart.png" alt="..." itemprop="image" class="cart-link" />
          </span>
        </a>

      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% suffix="/index.html" %>

        <ul class="nav navbar-nav navbar-right">

        <%- partial( 'post/menu-links', {class_name: 'menu-links'}) %>

        </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
