<% if (page.price != undefined && page.productcartname != undefined) { %>
<% 
url = "/"
if (page.amazonproductlink !== undefined ) { 
  url = page.amazonproductlink
} %>
    <div id = "product-buy-buttons" class="product-content">
        <h2>$<%= page.price %> <small></small></h2>
        <div class="add-to-cart-btns">
            <a id="addToCartButton" class="analytics" href="<%= url %>">
                <button type="button" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
            </a>
            <a id="addToCartAmazonLogo" class="analytics" href="<%= url %>">
                <img src="/images/pay-with-amazon.jpg" alt="..." />
            </a>
        </div>
    </div>
<% }; %>